/* General */

.badge-warning{
    background-color: orange;
    color: black;
}

.badge-success{
    background-color: yellowgreen;
}


.badge-danger{
    background-color: red;
}


.buttonone{
    background-color:  #4359d6 !important;
    border-radius: 200px !important;
}

.buttonone:hover{
    background-color:#2d4daa !important;
    border-radius: 200px !important;
}

td{
    vertical-align: middle;
}




