.image-list {
    display: flex;
    flex-direction: row;
}

.image-list img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
}

.text-primary-custom {
    color: #007bff !important;
    margin-bottom: 1rem;
}

.collapsen {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapsen.show {
    max-height: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-custom {
    display: block;
    width: 100%;
    height: 50px;
    /* Or whatever size you want */
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000;
}

.btn-custom:hover {
    background-color: #4359d6;
}

.review-image img {
    max-width: 300px;
    /* Limit image size */
    height: auto;
    margin-right: 15px;
}

/* For the stars */
.fa-star {
    color: #ffd60a;
}

/* For the empty stars */
.fa-star:not(.checked) {
    color: #ddd;
}