.buttonone{
    background-color:  #4359d6 !important;
    border-radius: 200px !important;
    border: none !important;
}

.buttonone:hover{
    background-color: #213291 !important;
    border-radius: 200px !important;
}

.dropdown-item:focus {
    background-color: #4359d6 !important;
    color: white;
}