
/* 
 * css file for all page 
 */

 .buttonone{
    background-color:  #4359d6 !important;
    border-radius: 200px !important;
    border: none !important;
}

.buttonone:hover{
    background-color: #213291 !important;
    border-radius: 200px !important;
}