/* General */

.page-container-login {
    width: 100%;
    margin: 0 auto;
}

/* container for login */

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}


.wrap-login {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

/* logiin form */

.login-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px 55px;
}

.login-form-title {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

/* button */

.container-login-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #4359d6;

    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    border: none;

    transition: all 0.5s;
}

.login-form-btn:hover {
    background: #333333;
}

/* picture display */

.login-more {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.login-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

/* register */

.text-no-account {
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}

/* responsive */

@media (max-width: 992px) {
    .login-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .login-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }

    .login-more {
        display: none;
    }
}

@media (max-width: 576px) {
    .login-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
    }
}